.auth-panel {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.auth-panel .left {
  flex: 0 0 200px;
  display: flex;
  flex-flow: column;
  gap: 8px;
  align-items: stretch;
  margin-right: 4px;
  padding-right: 4px;
  border-right: 2px solid darkgreen;
}

.auth-panel .right {
  flex: 1 0 200px;
  display: flex;
  flex-flow: column;
  gap: 8px;
  align-items: stretch;
}

.auth-form {
  display: flex;
  flex-flow: column;
  gap: 4px;

  & > div {
    display: flex;
    flex-flow: row wrap;

    label {
      flex: 0 0 100px;
      text-align: start;
      margin-right: 8px;
    }

    input {
      flex: 1 0;
    }
  }
}

.auth-result.error {
  display: block;
  color: red;
}

.auth-result.hide {
  display: none;
}
