@use '../../theme';
@use "sass:math";
@use "sass:map";

$zero: #{0px};

// logo dimensions
$logo-size-large: var(--logo-size-large);
$logo-size-small-unit: 40;
$logo-size-small: 40px;

// header dimensions
$header-mx: 12px;
$header-my: 12px;
$header-height: $logo-size-small + 2 * $header-my;

// actions dimensions
$action-icon-width: 1.2em;
$action-width: calc(8ch + $action-icon-width);
$action-mx: 0.5ch;

// scroll range to align the logo
$scroll-range-logo-x: ( from:  00, to:  50 );
$scroll-range-logo-y: ( from:  40, to:  80 );
$scroll-range-logo-s: ( from:  10, to:  40 );

// scroll range to align the title
$scroll-range-title-x: (  from: 40, to: 80 );
$scroll-range-title-y1: ( from: 00, to: 50 );
$scroll-range-title-y2: ( from: 50, to: 80 );
$scroll-range-title-s: (  from: 10, to: 50 );

// scroll range to align the actions
$scroll-range-actions-x: ( from: 00, to: 30 );
$scroll-range-actions-y: ( from: 22, to: 50 );

#root {
  --tp: 
    logo-simplified: 60,
    actions-to-icon: 30,
  ;
}

$transition-time: 0.2s;

@function align($value-from, $value-to, $scroll-range) {
  $scroll-from: map.get($scroll-range, 'from');
  $scroll-to: map.get($scroll-range, 'to');
  $factor: clamp(0, calc((var(--scroll) - ($scroll-from)) / ($scroll-to - $scroll-from)), 1);

  @return calc(($value-from) + $factor * ($value-to - $value-from));
}

.title-bar-offset {
  background-color: rgb(127 255 212 / 50%);
  background-color: theme.$primary-color;
  height: calc(100vh - $header-height);
}

.title-bar {
  position: sticky;
  top: 0;
  height: $header-height;
  overflow: visible;
  z-index: 100;
  // opacity: 0.7;

  background-color: theme.$primary-color;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: $header-my $header-mx;

  .logo {
    // background-color: rgb(255 0 0 / 23%);
    position: fixed;
    top: $header-my;
    left: $header-mx;
    width: $logo-size-small;
    height: $logo-size-small;

    transform-origin: center center;

    $move-x: calc(50vw - ($header-mx + $logo-size-small * 0.5));
    $move-y: calc(50vh - 0.5 * $logo-size-small - 1 * $header-my - var(--logo-size-large-unit) * 0.5px);
    $scaled: var(--logo-size-large-unit) / $logo-size-small-unit;
    transform:
      translateX(align($move-x, $zero, $scroll-range-logo-x))
      translateY(align($move-y, $zero, $scroll-range-logo-y))
      scale(align($scaled, 1, $scroll-range-logo-s))
    ;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: $logo-size-small;
      height: $logo-size-small;
    }

    & > img.simple {
      opacity: 1;
    }

    & > img.details {
      opacity: 1;
      transition: opacity $transition-time ease-in-out;

      .logo-simplified & {
        opacity: 0;
      }
    }
  }

  .title {
    // background-color: rgb(140 0 255 / 23%);
    position: fixed;
    top: $header-my;
    left: $logo-size-small + 2 * $header-mx;
    height: $logo-size-small;

    h1 {
      // background-color: rgb(140 0 255 / 23%);
      margin: 0;
      font-size: align(clamp(2.25rem, 1rem + 7vw, 4rem), 2.25rem, $scroll-range-logo-y);
      line-height: align(1em, $logo-size-small, $scroll-range-title-s);
      width: fit-content;

      $move-x: calc(50vw - $logo-size-small - 2 * $header-mx - 50%);
      $move-y1: calc(35vh + 0.5 * $logo-size-small);
      $move-y2: calc(25vh - $header-my - 0.5 * $logo-size-small);
      transform:
        translateX(align($move-x, $zero, $scroll-range-title-x))
        translateY(align($move-y1, $zero, $scroll-range-title-y1))
        translateY(align($move-y2, $zero, $scroll-range-title-y2))
      ;
    }
  }

  .actions {
    position: fixed;
    top: calc($header-my + 0.5 * $logo-size-small - 1em);
    right: 2 * $header-mx;

    $move-x: calc(-50vw + var(--scrollbar-width) + 2 * $header-mx + 50%);
    $move-y1: calc(20vh + 0.5 * $logo-size-small);
    $move-y2: calc(60vh - $header-my - 0.5 * $logo-size-small);
    transform:
      translateX(align($move-x, $zero, $scroll-range-actions-x))
      translateY(align($move-y1, $zero, $scroll-range-actions-x))
      translateY(align($move-y2, $zero, $scroll-range-actions-y))
    ;

    display: flex;
    flex-flow: row nowrap;
    gap: 1px;
    transition: gap $transition-time ease-in-out;
    
    font-size: 1.3rem;
    border-radius: 2em;
    overflow: hidden;
    background-color: #212a21;
    box-shadow:
      0 0 0 1px #212a21,
      0 2px 10px rgba(0 0 0 / 14%)
    ;
    
    
    button {
      all: unset;
      box-sizing: border-box;
      position: relative;

      width: $action-width;
      transition: width $transition-time ease-in-out;

      font-weight: 700;
      line-height: 2em;
      height: 2em;
      
      text-align: center;
      color: #212a21;
      cursor: pointer;

      & span {
        display: block;
        overflow: hidden;
        text-overflow: clip;

        opacity: 1;
        transition: opacity $transition-time ease-in-out;
      }

      &.sign-in {
        background: theme.$primary-color theme.$sign-in-icon no-repeat right center;

        & span {
          margin-inline: $action-mx calc($action-mx + $action-icon-width);
        }
      }
      
      &.sign-up {
        background: theme.$primary-color theme.$sign-up-icon no-repeat left center;
        
        & span {
          margin-inline: calc($action-mx + $action-icon-width) $action-mx;
        }
      }

      &:hover {
        background-color: #F0FFF1;
      }

      &:focus {
        background-color: #FF6F00;
      }
    }

    @media screen and (max-width: 6000px) {
      .actions-to-icon & {
        gap: 0;

        & button span {
          opacity: 0;
        }

        &:not(:focus-within) {
          button { width: 0; }
          button.prefer { width: 2em; }
        }

        &:focus-within {
          button { width: 0; }
          button:focus { width: 2em; }
        }
      }
    }
  }
}

.full-screen-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin-inline: auto;
  padding-top: $header-height;
  background-color: theme.$background-color;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
    z-index: 1;
    opacity: 0.5;
  }
}
