@use 'theme';
@import 'assets/fonts/rubik/rubik-app-title';

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background-color: theme.$body-color;
}

.splash {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  margin-left: clamp(0px, 50vw - 600px, 100vw);

  $header-mx: 12px;
  $header-my: 12px;
  $logo-size-large: clamp(64px, min(100vw - 2 * 12vw, 50vh - 6vh), 300px);
  $logo-size-small: 40px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  background-color: theme.$primary-color;
  overflow-x: hidden;
  overflow-y: hidden;

  .logo {
    margin-top: calc(50vh - $logo-size-large);
    width: $logo-size-large;
    height: $logo-size-large;

    img {
      width: $logo-size-large;
      height: $logo-size-large;
    }
  }

  .title {
    position: absolute;
    height: $logo-size-small;
    bottom: calc(130lvh - 100svh + $header-my);

    h1 {
      margin: 0;
      font-size: clamp(2.25rem, 1rem + 7vw, min(4rem, 10vh));
      line-height: 1em;
      width: fit-content;
      max-width: calc(100vw - 2 * $header-mx);

      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.app-title--font {
  font-family: rubik-app-title, sans-serif;
  font-weight: 700;
}
