// primary color of the theme
$primary-color: #a5d6a7;

// color of the content background
$background-color: #fff;

// color of the background outside of the content
$body-color: #f2f2f2;

// icon for sign-in
$sign-in-icon: url("@assets/images/sign-in.svg?inline");

// icon for sign-up
$sign-up-icon: url("@assets/images/sign-up.svg?inline");
